/* header */
.header {
  max-width: auto;
  background-color: #0355bd;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  border-radius: 10px;
  border-bottom: #000 solid;
}
p.header {
  color: white;
  padding-bottom: 10px;
  font-family: lato;
  font-size: 20px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #82e2f1;
  text-align: center;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

label {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

button {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.siteCalendar {
  border: #b5b5b5 solid 1px;
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;

  border-radius: 10px 10px 10px 10px;
}
.h1siteCalendar {
  border: #b5b5b5 solid 1px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  background-color: #f4f4f4;
}

.flex-container {
  display: flex;
  border: 1px solid #b5b5b5;
  padding: 10px;
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
}

.flex-child1 {
  flex: 1;
  border-right: 1px solid #b5b5b5;
  padding: 20px;
}

.flex-child2 {
  flex: 1;
  border-left: 1px solid #b5b5b5;
  padding: 20px;
}

.entry {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f0f0f0;
  position: relative;
  cursor: pointer;
}

.entry.journal {
  background-color: #d9e8f7;
}

.entry.low-rating {
  background-color: #f7d9d9;
}

.entry.medium-rating {
  background-color: #d9f7d9;
}

.entry.high-rating {
  background-color: #1b5e20;
  color: white;
}

.entry.expanded {
  max-height: none;
  overflow: visible;
  cursor: default;
  background-color: #f4f4f4;
}

.entry .summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry .content {
  display: none;
}

.entry.expanded .content {
  display: block;
  text-align: left;
}

.entry .summary .meal-info {
  display: flex;
  flex-direction: column;
}

.select-meal,
input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.journal-title {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.rating-comment-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rating span {
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
  margin-right: 5px;
  text-shadow: 0 0 2px #000;
}

.rating span.rated {
  color: gold;
  text-shadow: 0 0 2px #000;
}

.comment {
  margin-top: 10px;
}

.comment textarea {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.remove-btn,
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 10px;
  display: none;
}

.remove-btn svg,
.close-btn svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

.entry.expanded .close-btn {
  display: block;
}

.entry.expanded .remove-btn {
  top: 40px;
}

.save-btn,
.delete-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.timer-controls {
  display: none;
}

.journal-input {
  width: 550px;
  height: 160px;
}

.custom-date-picker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 20px;
}

.custom-date-picker .date-cell {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.custom-date-picker .date-cell.highlighted {
  background-color: lightgreen;
}
